<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="not-field">
    Title: <%= @item.title %>
  </div>

  <div class="not-field">
    Description: <%= @item.description %>
  </div>

  <div class="not-field">
    Threshold: <%= @item.threshold %>
  </div>

  <div class="field">
    <%= form.label :public %>
    <%= form.check_box :public, id: :item_public %>
  </div>

  <div class="field">
    <%= form.label :show_threshold %>
    <%= form.check_box :show_threshold, id: :item_show_threshold %>
  </div>

  <div class="field">
    <%= form.label :show_verified_signups %>
    <%= form.check_box :show_verified_signups, id: :item_show_verified_signups %>
  </div>

  <div class="field">
    <%= form.label :success_msg %>
    <%= form.text_area :success_msg, id: :item_success_msg %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
