<h1>Stats</h1>
This item has <%= @item.validated_signups.count %> validated signups.

<h1>Edit</h1>

<%= render 'edit_form', item: @item %>

<%= link_to 'Show', @item %> |
<%= link_to 'Back', items_path %>
