<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
	<% if @item.show_threshold %>
		<strong>Threshold:</strong> <%= @item.threshold %>
	<% end %>
	<% if @item.show_verified_signups %>
		<strong>Verified signups:</strong> <%= @item.validated_signups.count %>
	<% end %> 
</p>

<%= form_tag({controller: 'items', action: 'sign_up', id: @item.id}, method: 'post') do %>
<p><strong>Add your email:</strong>

	<%= text_field_tag :email %>
	<%= submit_tag "Sign up" %>
<% end %>

<%= link_to 'Back', items_path %>

<%= form_tag({controller: 'items', action: 'input_password', id: @item.id}, method: 'post') do %>
	Enter password to edit: 
	<%= text_field_tag :password %>
	<%= submit_tag "Submit" %>
<% end %>